GEMINI_API_KEY="Introduce_aqui_tu_api_key_de_gemini"
FIRECRAWL_API_KEY="fc_tu_clave_aqui"
TELEGRAM_BOT_TOKEN="123456:ABC-..."
TELEGRAM_CHAT_ID="987654321"

# Variables de entorno para despliegue
GOOGLE_CREDENTIALS_JSON="contenido_de_credentials.json_aqui"
GOOGLE_TOKEN_JSON="contenido_de_token.json_aqui"